<!-- Jumbotron -->
<div class="jumbotron">
    <h1><img src="/static/img/favicon.png" alt="A">rchitect</h1>
    <p class="lead">Architect is an avionics system design tool.</p>
    <p><a class="btn btn-lg btn-success" href="#/browse-library">Browse the library</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Parts</h2>
        <p>Architect is built around parts. Parts have channels which are assigned to external connectors.</p>
    </div>
    <div class="col-md-4">
        <h2>Channels</h2>
        <p>Parts can also have internal child parts. You can define the relationship between parts using by mating channels between parts and creating harnesses to implement those channel allocations.</p>
    </div>
    <div class="col-md-4">
        <h2>Connectors</h2>
        <p>Once you have defined some parts, you can get the data out of Architect using its API. This allows you to build additional applications on top of Architect.</p>
    </div>
</div>