<div class="left-column">
    <div class="top-row content-box">top</div>
    <div class="bottom-row content-box">
        <form role="form">
            <div class="form-group">
                <label for="root">Root</label>
                <input type="text" class="form-control" id="root" placeholder="Enter part root" ng-model="root">
            </div>
            <div class="form-group">
                <label for="version">Version</label>
                <input type="text" class="form-control" id="version" placeholder="Enter part version" ng-model="version">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Enter part description">
            </div>
            <div class="form-group">
                <label for="description">Enclosure JSON</label>
                <textarea class="form-control" id="shape_json" rows="3" placeholder="Enter enclosure JSON"></textarea>
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"> Depreciated
                </label>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
<div class="right-column content-box">
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>
    col 2<br>

</div>
