/* Layout styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#footer {
    height: 50px;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: solid 1px #e6e6e6;
}

#sidebar {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    width: 300px;
    overflow: auto;
    padding: 15px;
    border-right: solid 1px #e6e6e6;
}

#content {
    position: fixed;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 300px;
}

.content-box {
    padding: 15px;
    overflow: auto;
}

#footer > .container {
    padding: 15px 15px;
    text-align: center;
}

#footer .glyphicon {
    margin-right: 5px;
}

#footer a.github {
    position: absolute;
    right: 15px;
}

.container {
    max-width: 100%;
}

/* Content layouts
-------------------------------------------------- */

#content .left-column {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 0;
    border-right: solid 1px #e6e6e6;
}

#content .right-column {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
}

#content .top-row {
    position: absolute;
    top: 0;
    bottom: 50%;
    width: 100%;
    border-bottom: solid 1px #e6e6e6;
}

#content .bottom-row {
    position: absolute;
    bottom: 0;
    top: 50%;
    width: 100%;
}

/* Nav bar
-------------------------------------------------- */

.navbar-form {
    padding-right: 0;
    margin-right: -15px;
}

.navbar-form input {
    width: 150px;
}

ul.navbar-nav button {
    margin: 8px 0;
}

.navbar-spinner {
    margin: 14px 0 0 10px;
    float: left;
}

.navbar .btn-group {
    float: left;
    margin-top: 8px;
}

a.user-menu img {
    margin: -8px 10px -8px 0;
    border-radius: 4px;
    border: 1px solid #bbb;
}

a.navbar-brand img {
    height: 18px;
    margin-top: -6px;
    margin-right: -1px;
}

.open > a.user-menu img, a.user-menu:hover img {
    border-color: #777;
}

/* Window manager
-------------------------------------------------- */

#sidebar ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    position: relative;
}

#sidebar ul li a {
    position: relative;
    display: block;
    padding: 5px 35px 5px 15px;
}

#sidebar ul li:hover a,
#sidebar ul li:focus a {
    text-decoration: none;
}

#sidebar ul li:hover:not(.active) a,
#sidebar ul li:focus:not(.active) a {
    background-color: #eeeeee;
}

#sidebar ul li .close-window {
    position: absolute;
    right: 10px;
    top: 14px;
    padding: 5px 10px;
    color: #ccc;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-right: -10px;
    margin-top: -2px;
}

#sidebar ul li:hover .close-window {
    color: #bbb;
}

#sidebar ul li .close-window:hover {
    color: #333;
}

#sidebar ul li.active .close-window {
    color: #0af;
}

#sidebar ul li.active .close-window:hover {
    color: #fff;
}

#sidebar ul li a .window-subtitle {
    color: #999;
    display: block;
}

#sidebar ul li.active a .window-subtitle {
    color: #eee;
}

#sidebar ul li span.glyphicon:not(.close-window) {
    margin-right: 10px;
}

#sidebar ul li.category-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

#sidebar ul li.empty {
    display: block;
    padding: 3px 15px;
    font-size: 10px;
    font-style: italic;
    color: #999999;
}

#sidebar ul li.active a {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

/* Other goodies
-------------------------------------------------- */

code {
    font-size: 80%;
}
